<h1> Your added products</h1>
<br/>
<div class='table-responsive'>
    <table class='table'>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>HomepageUrl</th>
            <th>PlayStoreUrl</th>
            <th>AppStoreUrl</th>
            <th>ProductPlatform</th>
            <th>Edit/Delete</th>
        </tr>
        <tr *ngFor='let product of products'>
            <td>
                {{product.Name}}
            </td>
            <td>
                {{product.Description}}
            </td>
            <td>
                {{product.HomepageUrl}}
            </td>
            <td>
                {{product.PlayStoreUrl}}
            </td>
            <td>
                {{product.AppStoreUrl}}
            </td>
            <td>
                {{productplatform[product.ProductPlatform]}}
            </td>
            <td>                
                <button (click)="EditClicked(product.Id)">Edit</button>
                <button (click)="DeleteClicked(product.Id)">Delete</button>
                <button (click)="UpdateClicked(product.Id)">Update</button>
            </td>
        </tr>
    </table>
</div>
<br/>
<edit-product [hidden]="!Edit" [productId]='ProductId'></edit-product>
<update-product [hidden]="!Update" [productId]='ProductId'></update-product>
 