<h1>Edit Product Details</h1>

<div class="form-group">
    <form  (ngSubmit)="onSubmit(product)" role="form" #AddForm="ngForm">
        
        <label for="Name">Name:</label>
        <input class="form-control" #Name="ngForm" type="text" [(ngModel)]="product.Name" ngControl="Name" id="Name" /><br/>

        <label for="Description">Description</label>
        <input class="form-control" #Description="ngForm" type="text" [(ngModel)]="product.Description" ngControl="Description" id="Description" /><br />

        <label for="HomePageUrl">Homepage Url</label>
        <input class="form-control" #HomePageUrl="ngForm" type="text" [(ngModel)]="product.HomePageUrl" ngControl="HomePageUrl" id="HomePageUrl" /><br />

        <label for="PlayStoreUrl">PlayStore Url</label>
        <input class="form-control" #PlayStoreUrl="ngForm" type="text" [(ngModel)]="product.PlayStoreUrl" ngControl="PlayStoreUrl" id="PlayStoreUrl" /><br />

        <label for="AppStoreUrl">AppStore Url</label>
        <input class="form-control" #AppStoreUrl="ngForm" type="text" [(ngModel)]="product.AppStoreUrl" ngControl="AppStoreUrl" id="AppStoreUrl" /><br />

        <label for="ProductPlatform">Product Platform</label>
        <select class="form-control" #ProductPlatform="ngForm" [(ngModel)]="product.ProductPlatform" ngControl="ProductPlatform" id="ProductPlatform">
            <option value="Mobile">Mobile</option>
            <option value="Web">Web</option>
            <option value="IOT">IOT</option>
        </select><br />

        <input class="btn btn-default" type="submit" value="Submit" />
    </form>
</div>