
<div class="container">
    <h1 class="container">Complete Product Details</h1>
    <h2>Basic Details of Product:</h2>
    <p class="lead">The product was created on:{{product.CreateDate|date:'fullDate'}} at {{product.CreateDate|date:'shortTime'}}</p>
    <dl class="container" style="font-size:20px;">

        <dt>Name:</dt>
        <dd>{{product.Name}}</dd>


        <dt>Description:</dt>
        <dd>{{product.Description}}</dd>


        <dt>Homepage Url:</dt>
        <dd>{{product.HomepageUrl}}</dd>


        <dt> Playstore Url:</dt>
        <dd>{{product.PlayStoreUrl}}</dd>


        <dt> Appstore Url:</dt>
        <dd>{{product.AppStoreUrl}}</dd>


        <dt>Platform:</dt>
        <dd>{{productplatform[product.ProductPlatform]}}</dd>

    </dl>
</div>
    

<div [hidden]="show" class="container">
    <h2>Recent Product Update:</h2>
    <p class="lead">The product was created on:{{productupdate.CreateDate|date:'fullDate'}} at {{productupdate.CreateDate|date:'shortTime'}}</p>

    <dl style="font-size:20px;">
        <dt>Title</dt>
        <dd>{{productupdate.Title}}</dd>

        <dt>Details</dt>
        <dd>{{productupdate.Details}}</dd>

        <dt>Media</dt>
        <dd>{{productupdate.Media}}</dd>
     
    </dl>
    <img src={{productupdate.Media}} />
    <br/>
    <video controls>
        <source src={{productupdate.Media}} type="video/mp4">
    </video>   
</div>

<div class="lead" [hidden]="!show">{{message}}</div>