
<div class="container">
    <h1 class="container">Complete Product Details</h1>
    <h2>Basic Details of Product:</h2>
    <p class="lead">The product was created on:{{product.CreateDate|date:'fullDate'}} at {{product.CreateDate|date:'shortTime'}}</p>
    <dl class="container" style="font-size:20px;">

        <dt>Name:</dt>
        <dd>{{product.Name}}</dd>


        <dt>Description:</dt>
        <dd>{{product.Description}}</dd>


        <dt>Homepage Url:</dt>
        <dd>{{product.HomepageUrl}}</dd>


        <dt> Playstore Url:</dt>
        <dd>{{product.PlayStoreUrl}}</dd>


        <dt> Appstore Url:</dt>
        <dd>{{product.AppStoreUrl}}</dd>


        <dt>Platform:</dt>
        <dd>{{productplatform[product.ProductPlatform]}}</dd>

    </dl>
</div>
    

<div [hidden]="show" *ngIf="productupdate.Title!=null" class="container">
    <h2>Recent Product Update:</h2>
    <p class="lead">The product was created on:{{productupdate.CreateDate|date:'fullDate'}} at {{productupdate.CreateDate|date:'shortTime'}}</p>

    <dl style="font-size:20px;">
        <dt>Title</dt>
        <dd>{{productupdate.Title}}</dd>

        <dt>Details</dt>
        <dd>{{productupdate.Details}}</dd>        
     
    </dl>
    <div>
        <div *ngFor='let media of addMedias'>
            <div style="float:right;clear:both" *ngIf="media.ProductMedia==0">
                <img class="img-thumbnail img-responsive" src={{media.Path}} /><br/><br/>
            </div>
            <div style="float:left;clear:both" *ngIf="media.ProductMedia==1">        
                <iframe class="glyphicon-hd-video" width="560" height="315" [src]='allowVideo(media.Path)' frameborder="0" allowfullscreen></iframe><br/><br/>
            </div>
        </div>    
    </div>
</div>

<div class="lead alert text-info" *ngIf="productupdate.Title==null">Owner has not updated this product!</div>