<div class='table-responsive'>
    <table class='table'>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>HomepageUrl</th>
            <th>PlayStoreUrl</th>
            <th>AppStoreUrl</th>
            <th>ProductPlatform</th>
            <th>Follow/Unfollow</th>
        </tr>
        <tr *ngFor='let product of products let i=index'>
            <td>
                {{product.Name}}
            </td>
            <td>
                {{product.Description}}
            </td>
            <td>
                {{product.HomepageUrl}}
            </td>
            <td>
                {{product.PlayStoreUrl}}
            </td>
            <td>
                {{product.AppStoreUrl}}
            </td>
            <td>
                <!--{{product.ProductPlatform}}-->
                {{platform}}
            </td>
            <td>
                <!--<button id="product{{product.Id}}" [style.display]="hidebutton[product.Id]?'none':'follow'" (click)="Follow(product.Id)">Follow</button>-->
                <button (click)="Follow(product.Id)">Follow</button>
                                           
            </td>
        </tr>
    </table>
</div>