<h1 [hidden]="Hide">Update Product Details</h1>

<div [hidden]="Hide" class="form-group">
    <form (ngSubmit)="onSubmit(productupdate)" role="form" #AddForm="ngForm">

        <label for="Title">Title:</label>
        <input class="form-control" #Title="ngForm" type="text" [(ngModel)]="productupdate.Title" ngControl="Title" id="Title" required/><br />      
        <div [hidden]="Title.valid || Title.pristine" class="alert alert-danger">
            This is required field
        </div>

        <label for="Details">Details:</label>
        <input class="form-control" #Details="ngForm" type="text" [(ngModel)]="productupdate.Details" ngControl="Details" id="Details" required/><br />        
        <div [hidden]="Details.valid || Details.pristine" class="alert alert-danger">
            This is required field
        </div>

        <label for="ProductMedia">Select Media Types to upload:</label>

        <div class="checkbox">
            <label><input type="checkbox" (click)="UploadPic()" value="Pictures" id="Pictures" name="cb">Upload Pics</label>
        </div>

        <div class="checkbox">
            <label><input type="checkbox" (click)="UploadVideo()" value="videos" id="videos" name="cb">Upload videos</label>
        </div>      
  
        <div class="checkbox">
            <label><input type="checkbox" (click)="UploadGif()" value="GIF" id="GIF" name="cb">Upload GIF</label>
        </div>
        <br />         

        <div *ngIf="uploadpic">
            <label *ngIf="uploadpic" for="ImagePath">Upload Image</label>
            <input (change)="PicUpload($event)" class="btn-file" *ngIf="uploadpic" type="file" #ImagePath="ngForm" [(ngModel)]="productupdate.ImagePath" ngControl="ImagePath" id="ImagePath" accept="image/*" /> 
            <!--<input class="btn-file" *ngIf="uploadpic" type="text" #ImagePath="ngForm" [(ngModel)]="productupdate.ImagePath" ngControl="ImagePath" id="ImagePath"/>-->
        </div>
        <br/>
        <div *ngIf="uploadvideo">
            <label *ngIf="uploadvideo" for="VideoUrl">Upload Video</label>
            <input class="btn-file" *ngIf="uploadvideo" type="file" #VideoUrl="ngForm" [(ngModel)]="productupdate.VideoUrl" ngControl="VideoUrl" id="VideoUrl" accept="video/*" />
        </div>
        <br/>

        <div *ngIf="uploadgif">
            <label *ngIf="uploadgif" for="Gifpath">Upload GIF</label>
            <input class="btn-file" *ngIf="uploadgif" type="file" #Gifpath="ngForm" [(ngModel)]="productupdate.Gifpath" ngControl="Gifpath" id="Gifpath" accept="video/*" />
        </div>
        <br />
        
        <br/>
        <input class="btn btn-default" type="submit" value="Submit" />
</form>
</div>