<div (click)="hide()" [hidden]="hideclicked">
    <button class="btn btn-default" (click)="clicked()">Become Owner</button><br />
</div>
<div [hidden]="hideownerform">
    <h1 *ngIf="Click">Become Owner</h1>
    <div class="form-group">
        <form *ngIf="Click" (ngSubmit)="onSubmit(owner)" role="form" #AddForm="ngForm">
            <label for="CompanyName">Company Name:</label>
            <input class="form-control" #CompanyName="ngForm" type="text" [(ngModel)]="owner.CompanyName" ngControl="CompanyName" id="CompanyName" required/><br />
            <div [hidden]="CompanyName.valid || CompanyName.pristine" class="alert alert-danger">
                This is required field
            </div>

            <label for="Description">Description:</label>
            <input class="form-control" #Description="ngForm" type="text" [(ngModel)]="owner.Description" ngControl="Description" id="Description" required /><br />
            <div [hidden]="Description.valid || Description.pristine" class="alert alert-danger">
                This is required field
            </div>

            <label for="FoundedYear">Founded Year:</label>
            <input class="form-control" #FoundedYear="ngForm" type="text" [(ngModel)]="owner.FoundedYear" ngControl="FoundedYear" id="FoundedYear" required pattern="^(199\d{1}|200\d{1}|201[0-6])$"/><br />
            <div [hidden]="FoundedYear.valid || FoundedYear.pristine" class="alert alert-danger">
                Please enter proper Input. Year should be between 1990-2016.
            </div>            


            <label for="WebsiteUrl">Website Url</label>
            <input class="form-control" #WebsiteUrl="ngForm" type="text" [(ngModel)]="owner.WebsiteUrl" ngControl="WebsiteUrl" id="WebsiteUrl" required pattern="https?://.+"/><br />
            <div [hidden]="WebsiteUrl.valid || WebsiteUrl.pristine" class="alert alert-danger">
                Enter URL starting with http://
            </div>

            <input class="btn btn-default" type="submit" value="Submit"/>
            <button class="btn-btn-default" (click)="hideform()">Close</button>
        </form>
    </div>
</div>
    <br />
    <h1>Find and Follow products you like</h1>
    <product-list> </product-list>
