<form *ngIf="!addmedia" (ngSubmit)="onSubmit(addMedia)" role="form" #AddForm="ngForm" novalidate>

    <label for="Media">Select Media Types to upload:</label>

    <div class="radio">
        <label><input type="radio" (click)="UploadPic()" value="Pictures" id="Media" name="rb">Add Pics</label>
        <div class="form-inline" [hidden]="!pic" *ngIf="picDom">
            <label for="Media">Upload Image</label>
            <input class="form-control" type="file" (change)="Selected($event.target)" id="Media" #Path="ngForm" [(ngModel)]="addMedia.Path" ngControl="Path" accept="image/*" required />
        </div>
    </div>

    <div class="radio">
        <label><input type="radio" (click)="UploadVideo()" value="Videos" id="Media" name="rb">Add Video</label>
        <div class="form-inline" [hidden]="!video" *ngIf="videoDom">
            <label for="Media">Add Youtube Link</label>
            <input class="form-control" type="text" id="Media" #Path="ngForm" [(ngModel)]="addMedia.Path" ngControl="Path" required pattern="^(https?\:\/\/)?(www\.)?(youtube\.com\/)?(embed\/).+$" />
            <div [hidden]="Path.valid || Path.pristine" class="alert alert-danger">
                Enter valid Youtube Url: Remember, the url format is https://www.youtube.com/embed/video_id
            </div>
        </div>
    </div>

    <div class="radio">
        <label><input type="radio" (click)="UploadAudio()" value="Audio" id="Media" name="rb">Upload Audio</label>
    </div>
    <br />
    <!--<input type="checkbox" (click)="Yes($event)" name="Media" value="Media">Want to add again?<br>-->
    <!--<p class="alert-info">If you check the checkbox, the form for adding media will re-open after submitting this form.</p><br />-->
    <input class="btn btn-default" type="submit" value="Attach Media" />
</form>
<p class="alert-danger" *ngIf="alert">You Have Already Uploaded 5 medias for this product. You Cannot Add More products!</p>

