<br/>
<button [hidden]="close" (click)="Close()">Close</button>
<form *ngIf="!addmedia" [hidden]="close" (ngSubmit)="onSubmit(addMedia)" role="form" #AddForm="ngForm" novalidate>

    <label for="Media">Select Media Types to upload:</label>
    <h3 class="text-info" *ngIf="responsecame">You can add {{4-count}} medias more.</h3>
        <div class="radio">
        <label><input type="radio" (click)="UploadPic($event)" value="Pictures" id="Media" name="rb">Add Pics</label>
        <div class="form-inline" [hidden]="!pic" *ngIf="picDom">
            <label for="Media">Upload Image</label>
            <input class="form-control" type="file" (change)="Selected($event.target)" id="Media" #Path="ngForm" [(ngModel)]="addMedia.Path" ngControl="Path" accept="image/*" required />
        </div>
    </div>

    <div class="radio">
        <label><input type="radio" (click)="UploadVideo($event)" value="Videos" id="Media" name="rb">Add Video</label>
        <div class="form-inline" [hidden]="!video" *ngIf="videoDom">
            <label for="Media">Add Youtube Link</label>
            <input class="form-control" type="text" id="Media" #Path="ngForm" [(ngModel)]="addMedia.Path" ngControl="Path" required pattern="^(https?\:\/\/)?(www\.)?(youtube\.com\/)?(embed\/).+$" />
            <div [hidden]="Path.valid || Path.pristine" class="alert alert-danger">
                Enter valid Youtube Url: Remember, the url format is https://www.youtube.com/embed/video_id
            </div>
        </div>
    </div>

    <div class="radio">
        <label><input type="radio" (click)="UploadAudio($event)" value="Audio" id="Media" name="rb">Upload Audio</label>
    </div>
    <br />   
    <input class="btn btn-default" type="submit" value="Attach Media" />
   
</form>
<p class="alert alert-danger" *ngIf="alert">Sorry this media will not be saved.You Have Already Uploaded 5 medias for this product. You Cannot Add More products!</p>