<h1 [hidden]="Hide">Update Product Details</h1>

<div [hidden]="Hide" class="form-group">
    <form *ngIf="Click" (ngSubmit)="onSubmit(productupdate)" role="form" #AddForm="ngForm" enctype="multipart/form-data" >

        <label for="Title">Title:</label>
        <input class="form-control" #Title="ngForm" type="text" [(ngModel)]="productupdate.Title" ngControl="Title" id="Title" required/><br />      
        <div [hidden]="Title.valid || Title.pristine" class="alert alert-danger">
            This is required field
        </div>

        <label for="Details">Details:</label>
        <input class="form-control" #Details="ngForm" type="text" [(ngModel)]="productupdate.Details" ngControl="Details" id="Details" required/><br />        
        <div [hidden]="Details.valid || Details.pristine" class="alert alert-danger">
            This is required field
        </div>     
        <input type="checkbox" (click)="Yes($event)" name="Media" value="Media">Attach Media<br>
        <h6 class="text-info">If you check the checkbox, the form for adding media will open after submitting this form.</h6><br/>

        <input class="btn btn-default" type="submit" value="Submit" />
</form>
</div>
<add-media *ngIf="showmediaform" id="Media"></add-media> 